<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}MyMediaList{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% if current_user.is_authenticated %}
    <nav>
        <a href="{{ url_for('media.profile') }}">Profile</a>
        <a href="{{ url_for('media.media_list', category='books') }}">Books</a>
        <a href="{{ url_for('media.media_list', category='games') }}">Games</a>
        <a href="{{ url_for('media.media_list', category='shows') }}">Shows & Films</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </nav>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <main>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>