{% extends "base.html" %}
{% block title %} {{ current_user.username }}'s Profile{% endblock %}

{% block content %}
<h1>{{ current_user.username.capitalize() }}'s Profile</h1>

<h2>Your Stats</h2>

{% for category, stats in stats_by_category.items() %}
{% set category_labels = status_labels.get(category, status_labels["default"]) %}
<h3>{{ category_titles[category] }}</h3>
<ul>
  <li>Mean Rating: {{ stats.avg_rating }}</li>
  <li>Total: {{ stats.total }}</li>

  {% for status in statuses %}
  <li>{{ category_labels[status] }}: {{ stats.status_counts.get(status, 0) }}</li>
  {% endfor %}
</ul>
{% endfor %}

<p>Need help? Begin by navigating to one of the lists at the top and add an entry!</p>
{% endblock %}